# Server
PORT=8080
ENV=development

# Database (Local PostgreSQL)
DATABASE_URL=
DATABASE_LISTEN_URL=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Cloudinary
CLD_CLOUD_NAME=
CLD_API_KEY=
CLD_API_SECRET=

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=yuno-chat
